
body {
  background-color: pink;
}
#heading{
  text-align: left; color:white;font-size:35px;
}
#title{
  text-align: center; color:white;font-size:60px; border: 5px solid black;
}

#par {
  text-align: left; font-size:20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  text-align: left; color:black; font-size:20px;
}